BASE_URL=''
APP_HOSTNAME=''
SECRET_KEY=''
ALLOWED_HOSTS=''
OIDC_AUTH_SERVER=''
OIDC_AUTH_CLIENT_ID=''
OIDC_AUTH_CLIENT_SECRET=''
OIDC_AUTH_SCOPE=openid
SSH_CA_CERT_PATH=ssh_ca
SSH_CA_CERT_PASSWORD=
SSH_CA_ROTATION=24
SSH_CA_CERT_VALIDITY=8
SSH_CA_CERT_SUBJECT_OIDC=sub
SSH_CA_CERT_SUBJECT_SAML=
SSH_CA_CERT_SUBJECT_BUILTIN=