https://github.com/mitsuhiko/flask-oauth/archive/refs/heads/master.zip
Django
requests
mozilla_django_oidc
django_auth_oidc
django_environ
django_semantic_admin
sshkey_tools
asyncssh
pexpect
pyjwt